# Python cache
__pycache__/

# Data
data/test_data/HanSeg/
data/test_data/2d/

# Augm test results
utils/results/

# Files
training/p_unet_21_extracted_2.py
*.pdf

# Large files
*.zip
*.pkl
*.npz
*.keras
*.nii.gz

# Subfolder for deployment contain the tfjs models
deployment/*/ 

# Checkpoints
.ipynb_checkpoints/

# Virtual environment
.venv/

# MLflow
training/mlruns/
mlflow.db
*.yaml

# Optional: IDE/editor stuff
.vscode/