# Python cache
__pycache__/

# Folders
research/
utils/augmentation_results/
data/test_data/*/
data/train_data/*/
deployment/*/ 
.ipynb_checkpoints/
.vscode/

# Files
training/p_unet_21_extracted_2.py

# File Types
*.zip
*.pkl
*.npz
*.keras
*.nii.gz
*.yml
*.pdf

# Virtual environment
.venv/

# MLflow
training/mlruns/
mlflow.db
*.yaml