# Python cache
__pycache__/

# Data
data/test_data/HanSeg/
data/test_data/2d/

# Augm test results
utils/results/

# Large files
*.zip
*.pkl
*.npz
*.keras
*.nii.gz

# Subfolder for deployment contain the tfjs models
deployment/*/ 

.venv/

# MLflow
training/mlruns/
mlflow.db
*.yaml

# Optional: IDE/editor stuff
.vscode/