# Core ML and Data processing
tensorflow>=2.15.0
tensorflowjs>=4.17.0
numpy>=1.23.5
scipy>=1.11.4
pandas>=2.1.4
tensorflow_probability>=0.25.0
nibabel>=5.4.2

# Visualization and Utilities
matplotlib>=3.8.2
tqdm>=4.66.1

# Notebook support
ipykernel>=6.28.0
